<%= form_with model: [ @position, @candidate ] do |form| %>
  <div class="container jutify-content-center text-center mt-4">
    <div class="container-fluid image-div d-flex flex-column justify-content-center p-4">
      <% if candidate.profile_picture.attached? %>
        <%= image_tag candidate.profile_picture %>
        <p>Uploaded File: <%= candidate.profile_picture.filename %></p>
      <% else %>
        <%= image_tag 'no_image.jpg', class: 'default-thumbnail' %>
        <p class="mt-3">No file uploaded</p>
      <% end %>
    </div>
    <div class="m-3">
      <%= form.label :name, class: "label-form" %><br>
      <%= form.text_field :name %>
      <%candidate.errors.full_messages_for(:name).each do |message|%>
        <div><%=message%></div>
      <%end%>
    </div>
    <div class="m-3">
      <%= form.label :dob, class: "label-form" %><br>
      <%= form.text_field :dob %>
      <%candidate.errors.full_messages_for(:dob).each do |message|%>
        <div><%=message%></div>
      <%end%>
    </div>
    <div class="m-3">
      <%= form.label :email, class: "label-form" %><br>
      <%= form.text_field :email %>
      <%candidate.errors.full_messages_for(:email).each do |message|%>
        <div><%=message%></div>
      <%end%>
    </div>
    <div class="m-3">
      <%= form.label :industry_experience, class: "label-form" %><br>
      <%= form.text_field :industry_experience %>
      <%candidate.errors.full_messages_for(:industry_experience).each do |message|%>
        <div><%=message%></div>
      <%end%>
    </div>
    <div class="m-3">
      <%= form.label :documents, class: "label-form" %><br>
      <%= form.file_field :documents %>
      <%candidate.errors.full_messages_for(:email).each do |message|%>
        <div><%=message%></div>
      <%end%>
    </div>
    <div class="m-3">
      <%= form.label :resume, class: "label-form" %><br>
      <%= form.file_field :resume, class:"text-center" %>
      <%candidate.errors.full_messages_for(:email).each do |message|%>
        <div><%=message%></div>
      <%end%>
    </div>
    <div class="m-3">
      <%= form.label :profile_picture, class: "label-form" %><br>
      <%= form.file_field :profile_picture, class:"text-center" %>
      <%candidate.errors.full_messages_for(:email).each do |message|%>
        <div><%=message%></div>
      <%end%>
    </div>
    <div class="m-3">
      <%= form.submit "#{candidate.persisted? ? 'Update' : 'Create'}", class: "details-button px-5"%>
    </div>
  </div>
</div>
<% end %>
